<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head">
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 border-end border-success bg-light py-5">
                <div th:replace="layouts/base::lateral"></div>
            </div>
            <div class="col-8">
                <h1 class="text-center text-success">Sistemas de gestión</h1>
                <div class="d-flex mt-4">
                    <div th:each="sistema : ${sistemas}" class="card" style="width: 18rem;">
                        <a th:href="${sistema.url}" class="text-decoration-none text-secondary">
                            <img th:src="${sistema.img}" class="card-img-top" th:alt="${sistema.title}" width="30">
                            <div class="card-body">
                                <h3 class="card-text">Sistema de gestión de <span th:text="${sistema.title}"></span></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div/>
    </div>
</body>
</html>