<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 border-end border-success bg-light py-5">
                <div class="vstack gap-4 col-md-5 mx-auto">
                    <figure>
                        <img src="https://cdn3.iconfinder.com/data/icons/start-up-4/44/money-128.png" alt="Logo">
                    </figure>
                    <a href="ingresos-gastos" class="btn btn-secondary">Ingresos y egresos</a>
                    <a href="usuarios" class="btn btn-secondary">Usuarios</a>
                    <a href="empresas" class="btn btn-secondary">Empresas</a>
                </div>
            </div>
            <div class="col-8">
                <h1 class="text-center text-primary my-2">Sistemas de gestión</h1>
                <div class="d-flex ">
                    <div th:each="sistema : ${sistemas}" class="card" style="width: 18rem;">
                        <a th:href="${sistema.url}" class="text-decoration-none text-secondary">
                            <img th:src="${sistema.img}" class="card-img-top" th:alt="${sistema.title}">
                            <div class="card-body">
                                <h1 class="card-text">Sistema de gestión de <span th:text="${sistema.title}"></span></h1>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div/>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>